.Footer{
    /* display: flex; */
    /* justify-content: space-evenly; */
     background-color: #171613;
    color: #ffffff;
    /* border: 2px solid rebeccapurple; */
    height: 700px !important;
    /* align-content: center; */
    /* border-bottom: 1px solid wheat; */
    margin-top: 3%;
}

.Footer>div{
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid rebeccapurple */
}

.Footer>div>div{
    /* border: 2px solid red; */
    width: 350px;
    height: 180px;
    padding-top: 40px;
}

.Footer>div>div>p:nth-child(1){
    /* border: 2px solid red; */
    font-family: Jost, sans-serif;
    font-weight: bolder;
    font-size: larger;
    /* color: #000000; */
}

.Footer>div>div>p:nth-child(2){
    /* border: 2px solid blue; */
    font-family: Jost, sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* color: #57667e; */
    margin-bottom: 5px;
}

.Footer>div>div>p:nth-child(3){
    /* border: 2px solid blue; */
    font-family: Jost, sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* color: #57667e; */
    margin-top: 0px;
}

.Footer>div>div>input{
    /* border:  2px solid black; */
    height: 50px;
    width: 230px;
    align-content: center;
    text-align: center;
    margin-top: 10%;
}
.Footer>div>div>button{
    /* border: 2px solid purple; */
    margin-left: 3%;
    height: 55px;
    width: 99px;
    background-color: #ff2020;
    color: #ffffff;
    font-size: large;
}

.Footer>div>div>div{
    display: flex;
 margin-left: 8%;
 padding-top: 8%;
}

.Footer>div>div>div>div{
    
 /* border: 2px solid red; */
 margin-left: 9%;
 width: 50px;
 height: 50px;
}
.Footer>div>div>div>div:hover{
    color: #ff2020;
}

.bottomborder{
    border-top: 1px solid rgb(169, 162, 162);
    width: 90%;
    margin: auto;
}

.Footer2{
    /* margin-top: 5%; */
    /* border: 2px solid red;    */
    margin-bottom: 3%;
}

.Footer2>div{
    /* border: 2px solid blanchedalmond; */
    width: 190px !important;
    height: 240px !important;
}

.Footer2>div>p:nth-child(1){
    /* border: 2px solid green; */
    font-family: Jost, sans-serif;
    font-weight: 400 !important;
    font-size: 18px;
    margin-left: -15px;
}

.Footer2>div>div{
    /* border: 2px solid greenyellow; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
}

.Footer2>div>div>p{
    /* border: 2px solid fuchsia; */
    
    margin-top: 0px;
    margin-bottom: 9px; 
    font-family: Jost, sans-serif;
    font-weight: 400;
    font-size: 16px;    
    color: #bbb9b5;
}

.Footer2>div>div>p:hover{
    /* font-style: italic; */
    font-size: 17px; 
    text-decoration: underline;
}

.Foote3{
    height: 150px !important;
    /* border: 2px solid greenyellow; */
}
.Foote3>div{
    /* border: 2px solid blue !important; */
    height: 100px !important;
}
.Foote3>div>p{
    /* border: 2px solid greenyellow !important; */
    width: 900px;
    margin-left: -240px !important;
    font-family: Jost, sans-serif;
    font-weight: 300 !important;
    font-size: 16px;
    color: #bbb9b5;
}